html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.show {
  display: block !important;
}

.hidden{
  display: none !important;
}

.ativo {
  background-color: #6c757d !important;
  color: #fff !important;
}

.btn-primary{
  background-color: #00ff78 !important;
  border-color: #00e5b3 !important;
}

.react-datepicker__input-container {
  width: auto !important;
}

#select-status:focus{
  z-index:10;
  border-color: #00e5b3 !important;
  border: solid 4px;
  outline: none;
}


#select-status{
  z-index:10;
  border: solid 2px;
  outline: none;
}